html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  .content-page {
    display: flex;
    flex-direction: column;
  }

  .m-content {
    display: flex;
    margin-left: 0px; /* Match the width of the sidebar */
    padding: 20px 50px 20px 50px;
    overflow-y: auto;
    max-height:  calc(100vh - 100px); 
    flex: 1; /* Allows content to take up remaining space */
    overflow-y: auto;
    background-color: #fcfcfc;
    margin-top: 100px;
  }
  .m-about{
    width: 90%;
    height: auto;
    border-radius: 1rem;
    border: 1px solid #ccc;
    color: #4D2C5E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section1{
    margin-top: 60px;
    width: 90%;
    height: auto;
    border-radius: 1rem;
    border: 1px solid #ccc;
    color: #4D2C5E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .section1 ul li{
    padding-bottom: 5px;
  }
  .link{
    text-decoration: none;
    color: #4D2C5E;
  }
  .link:hover{
    text-decoration: underline;
  }
  .f{
    bottom: 0;
  }
