.contact-cont{
    width: 100%;
}
.contact-h{
    height: 350px;
    margin-top: 100px;
    color: #fff;
    width: 100%;
    background-image: url(../images/h_bg.jpg);
    background-size: cover;
}
.cover{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-img{
    width: 50px;
    height: 50px;
    background-color: #cccccc7a;
    padding: 20px;
    border-radius: 999px;
}
.address{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: start;
    margin-top: 30px;
}
.add-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.form-cont{
    position: relative;
}
.form-cont h1{
    font-weight: lighter;
    margin-top: 30px;
}
form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.inpts input{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-with-icon {
    position: relative;
    display: inline-block;
    width: 28%;
  }
.input-icon{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #aaa; 
}

.inpts{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.textarea-with-icon {
    position: relative;
    display: inline-block;
    width: 100%; 
  }
  
  .textarea-icon {
    position: absolute;
    left: 10px;
    top: 62px; 
    pointer-events: none; 
    color: #aaa; 
  }
  
  .textarea-field {
    margin-top: 30px;
    padding-left: 40px; 
    padding-top: 30px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%; 
    height: 150px; 
    resize: vertical; 
  }
  .form-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }
  .btn-cont{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .rslt{
    margin-left: 100px;
  }