  .intro{
    background-color: #FDF8EE;
    margin-top: 0px;
    width: 100%;
    background-image: url(../images/bg.png);
    background-position: bottom;
    background-size: contain;
    height: calc(100vh - 64px);
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
  }
  .cont-1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  }
  .left{
    flex-basis: 40%;
    justify-content: center;
    padding-left: 10%;
    color: #000;
    display: flex;
    flex-direction: column;
  }
  .right{
    flex-basis: 45%;
    background-image: url(../images/Ellipse.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 150px;
  }
  .org{
    color: #FF7426;
  }
  .obj{
    width: 100%;
    margin-top: 30px;
  }
  .cont-2{
    width: 100%;
    background-image: url(../images/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }
  .cont-2 h1{
    margin-bottom: -5px;
  }
  .cont-3{
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D2C5E;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 1rem;
    padding: 2rem;
    color: #fff;
  }
  .f-1, .f-2, .f-3{
    display: flex;
    flex-basis: 30%;
    justify-content: center;
  }
  
  .it1{
    width: 50px;
    height: 35px;
    background-color: #ffffff38;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
  }
  .img{
    width: 30px;
    height: 30px;
  }
  .text{
    margin-left: 15px;
    margin-top: -10px;
  }
  .text p{
    color: #ffffffa2;
  }
  .visit{
    width: 40%;
    height: 20%;
    background-color: #fff; 
    border-radius: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .visit:hover{
    transform: scale(1.05); 
  }
  .visit a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #4D2C5E;
    font-weight: bold;
  }
  h4{
    margin-bottom: -5px;
  }
  
  .cont-4{
    margin-top: 100px;
    width: 100%;
    background-image: url(../images/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .p-left{
    flex-basis: 40%;
  }
  .img3{
    width: 70%;
    margin-left: 10%;
  }
  .p-right{
    flex-basis: 50%;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .p-right h1{
    text-align: left;
  }
  .prem-1{
    display: flex;
    align-items: start;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .prem-1:hover{
    transform: scale(1.05); 
  }
  
  .txt{
    margin-left: 20px;
    margin-top: -20px;
  }
  .txt h4{
    margin-bottom: -10px;
  }
  .icon{
    width: 54px;
    height: 54px;
  }
  
  .cont-5{
    margin-top: 50px;
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D2C5E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #fff;
    background-image: url(../images/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .input-container{
    width:50%;
    height: 15%;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  input{
    width: 50%;
    height: 100%;
    outline: none;
    background-color: transparent;
    border-style: none;
    padding-left: 30px;
  }
  button{
    width: 25%;
    height: 100%;
    background-color: #FF7426;
    border-style: none;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
  }
  
  @media (max-width:320px){
    .cont-2{
        margin-top: 0px;
    }
    .right{
        display: none;
    }
  }
  @media (max-width:320px) and (orientation:landscape) {
    .cont-2{
        margin-top: 400px;
    }
    .right{
        display: none;
    }
  }
  @media(max-width:500px){

    .intro{
        margin-top: 100px;
    }
    .cont-1{
      margin-top: 0px;
    }
    .left{
      flex-basis: 100%;
    }
    .right{
      flex-basis: 100%;
      
    }
    .f-1, .f-2, .f-3{
      flex-basis: 100%;
      margin-bottom: 30px;
    }
    .cont-2{
      background-size: contain;
      background-position: top;
    }
    .cont-4{
      width: fit-content;
      padding-left: 10px;
    }
    .p-left{
      display: none;
    }
    .prem-1{
      padding-right: 20px;
    }
    .p-right{
      flex-basis: 100%;
      padding-left: 0px;
    }
    .cont-5{
      background-size: contain;
      height: 150px;
      padding-bottom: 20px;
    }
    .cont-5 h1{
      text-align: center;
      font-size: 20px;
    }
    .input-container{
      width: 90%;
      height: 25%;
    }
  }
  @media(max-height: 320px) and (orientation: landscape){
    .right{
        display: none;
    }
  }
  @media(min-height: 321px) and (max-height: 400px) and (orientation: landscape){
    .cont-2{
        margin-top: 400px;
    }
  }
  
  @media(min-width:501px) and (max-width:768px){
    .intro{
        margin-top: 100px;
      }
      .cont-1{
        margin-top: 0;
      }
      .cont-2{
        background-size: contain;
      }
    .left{
      flex-basis: 100%;
    }
    .right{
      flex-basis: 100%;
      padding-top: 0;
    }
    .f-1, .f-2, .f-3{
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    .intro{
        margin-top: 50px;
    }
    .left{
      flex-basis: 100%;
    }
    .right{
      flex-basis: 100%;
      padding-top: 0;
    }
    .f-1, .f-2, .f-3{
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  }

  @media(min-width:769px) and (max-width:1200px) and (orientation: landscape) {
    .cont-2{
        margin-top: 500px;
    }
  }

  