.story{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
   white-space: break-spaces;
   color: #333;
  font-size: 20px;
  line-height: 32px;
  word-break: break-word;
  align-self: flex-start;
}
h1{
    text-align: center;
}
 .disp a:hover{
    text-decoration: underline;
}
.disp{
    height: 100px;
}
.txt{
    margin-bottom: 20px;
}
.tc{
    margin-top: 0px;
}
.ifr{
    margin-top: 50px;
}
@media only screen and (max-width: 600px) {
    .story{
        width: 95%;
    }
    .story-image{
        width: 100%;
    }
}